@use '../../../styles/variables' as vars;

.EM_layout_panel{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

     
    p{
        font: 400 clamp(12px, 1.5vw, 12px) var(--inter); 
        color: vars.$off-white;
    }

    .layoutsSection{
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        gap: 12px;
        overflow: hidden;
        overflow-x: scroll;
        border-radius: vars.$border-radius-lg;
        
        .indiviualLayouts{
            width: 100%;
            min-width: 200px;
            max-width: 240px;
            padding: 4%;
            border-radius: vars.$border-radius-lg;
            display: flex;
            align-items: center;
            justify-content: center;

            .indiviualLayoutsImage{
                position: relative;
                width: 150px;
                height: auto;
            }
        }
    }
}