///////////////////////////////
//Fonts Variables - Configured inside Layout.tsx File

///////////////////////////////
//Colors Variables
$primary-color: #0078FF;

$primary-dark: #121212;
$secondary-dark: #1B1B1B;

$primary-grey: #262626;
$secondary-grey: #5C5C5C;

$off-white: #EFEFEF;

$white-color: #ffffff;
$black-color: #000000;


///////////////////////////////
// Breakpoints
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1440px;


///////////////////////////////
// Border Radius
$border-radius-sm: 2px;
$border-radius-md: 4px;
$border-radius-lg: 6px;
$border-radius-xlg: 8px;