@use 'variables' as vars;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p{
  font-family: var(--inter);
  color: vars.$black-color;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}