@use '../../../styles/variables' as vars;

.MockLab_EditorBox{
    position: relative;
    width: 100%;
    height: max-content;
    background-color: vars.$secondary-dark;
    border-radius: vars.$border-radius-xl;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.EditorServices{
    width: 100%;
    min-height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    .EditorServicesCTA{
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font: 400 clamp(12px, 1.5vw, 12px) var(--inter);
        color: vars.$off-white;
        cursor: pointer;
        border-radius: vars.$border-radius-lg;
    }
    
    .active_service{
        background-color: vars.$primary-grey;
        cursor: default;
    }
}

.EE_panels{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 10px;

    .EE_panels_reset{
        align-self: end;
        cursor: pointer;
        color: vars.$secondary-grey;
        font: 400 12px var(--inter);
    }
}

.EM_panels{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;


     
    p{
        font: 400 clamp(12px, 1.5vw, 12px) var(--inter); 
        color: vars.$off-white;
    }

}

.EM_panel_resize{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    .resize_button{
        width: 100%;
        padding: 12px 0;
        background-color: vars.$primary-grey;
        border-radius: vars.$border-radius-lg;
        border: none;
        font: 400 clamp(12px, 1.5vw, 12px) var(--inter);
        color: vars.$off-white;
        cursor: pointer;
    }
}

.alignmentContainer{
    width: 100%;
    height: auto;
    display: flex;
    gap: 9px;
    justify-content: space-between;

    .alignment_HV{
        width: 100%;
        height: auto;
        padding: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: vars.$border-radius-xl;
        background-color: vars.$primary-grey;
        
        .icon{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            padding: 10px;
            border-radius: vars.$border-radius-lg;
            cursor: pointer;
        }


        .icon.active {
            background-color: #5C5C5C;
            cursor: default;
        }
    }
}

