@use '../../styles/variables' as vars;


.previewFrame{
  position: relative;
  // width: 100%;
  // height: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // overflow: hidden;
  // border-radius: 10px;
}

.canvas {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: vars.$border-radius-xl;
  display: flex;
  justify-content: center;
  align-self: center;

  
}

.frameGradient,
.mockupShade,
.mockupScreen,
.mockupLayout,
.mockupShadow,
.frameNoise {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frameBackground{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease-in-out;
  object-fit: cover;
  overflow: hidden;
}

.frameShadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease-in-out;
}

// .mockupLayout{
//   position: relative;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   transition: all 0.3s ease-in-out;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   .layoutSrc{
//     width: 100%;
//     height: auto;
//   }
// }

.mockupWrapper {
  position: absolute; /* Ensures the wrapper is centered */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .mockupLayout {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    width: max-content;
    height: auto;
  
    .corner {
      position: absolute;
      pointer-events: auto;
      cursor: grab;
      z-index: 11;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
      opacity: 0;
      color: vars.$off-white;
    }
    
    .corner:hover {
      opacity: 0.8;
      transform: scale(1.2);
    }

    .topRight {
      top: -20px;
      right: -20px;
      rotate: 90deg;
    }
    
    .bottomRight {
      bottom: -20px;
      right: -20px;
      rotate: 180deg;
    }
  }
  
}

.mockupScreen{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}




