@use '../../styles/variables' as vars;


.canvas{
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: 1px solid transparent;
  // padding: 100px;
  border-radius: 10px;

  .canvasSafeArea{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;

    .previewframe{
      border-radius: 10px;
      position: absolute;
      inset: 0;
      max-height: 100%;
      margin: auto;
      // outline: solid 1px rgba(var(--primary), .12);
      overflow: hidden;
    }

    .frameContent {
      width: 100%;
      height: 100%;
      
      .canvasBackGround{
        width: 100%;
        height: 100%;

        .canvas_frameShadow{
          position: absolute;
          inset: 0;
          pointer-events: none;
          background-repeat: repeat;
          z-index: 6;
        }

        .canvas_frameNoise{
          position: absolute;
          inset: 0;
          pointer-events: none;
          background: url('https://mockup-by-pv.s3.ap-south-1.amazonaws.com/MockLab/Frame/noise.svg');
          background-size: 40%;
          background-repeat: repeat;
          mix-blend-mode: overlay;
          z-index: 2;
        }

        .canvas_frameBackground{
          pointer-events: none;
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: 1;
        }
      }

      .canvasDevice{
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content:center;
        inset: 0;
        margin: 10%;
        // overflow: hidden;
      

        .canvasDevice_layout{
          position: absolute;
          z-index: 4;
          inset: 0;
          max-height: 100%;
          margin: auto;
        }

        .canvasDevice_screen{
          position: absolute;
          inset: 0;
          max-height: 100%;
          margin: auto;
          padding: 2% 3.6%;
          overflow: hidden;
          
          .canvasDevice_screenImport{
            width: 100%;
            height: 100%;
            
            .canvasDevice_uploadImageInput{
              width: 100%;
              height: 100%;
            }
            
            .canvasDevice_uploadImageLabel{
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 10px;
            }

            p{
              margin: 5em 0;
              font: 500 12px / 100% var(--inter), sans-serif;
              color: vars.$off-white;
            }
          }
        }
                    
        .shadowLayer{
          position: absolute;
          z-index: 3;
          background-color: vars.$black-color;
          border-radius: 40px;
          inset: 0;
          max-height: 100%;
          margin: auto;
        }

        
        .corner {
          position: absolute;
          pointer-events: auto;
          cursor: grab;
          z-index: 11;
          transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
          opacity: 0;
          color: vars.$off-white;
        }
        
        .topRight {
          position: absolute;
          top: -20px;
          right: -20px;
          rotate: 90deg;
          width: 50px;
          height: 50px;
          // z-index: 11;
        }

        .topRight:hover .corner {
          opacity: 0.8;
          transform: scale(1.2);
        }
        
        .bottomRight {
          position: absolute;
          bottom: -20px;
          right: -20px;
          rotate: 180deg;
          width: 50px;
          height: 50px;
          // z-index: 11;
        }

        .bottomRight:hover .corner {
          opacity: 0.8;
          transform: scale(1.2);
        }
      }
    }
  }
}


// @media screen and (width < 1600px) and (width > 800px) {
//   .canvas{
//       padding: clamp(20px, 5%, 1000px) clamp(20px, 1%, 1000px);
//   }
// }