@use '../../styles/variables' as vars;

.dock{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 100%;
    gap: 8px;
}

.dock_other{
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    // .dock_mockup_bg, .dock_undo_redo{
    //     width:auto;
    //     height:auto;
    //     display: flex;
    //     flex-direction: column;
    //     gap: 8px;
    // }
}

.dock_back{
    // visibility: hidden;
}